.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-left{
    margin-left: 20px;
}

.header-right{
    display: flex;
    align-items: center;
    >span{
        margin-right: 30px;
        display: flex;
        align-items: center;
    }

    >span:last-child{
        margin-right: 40px;
        overflow: hidden;
        width: 40px;
        height: 40px;
    }   

    .user-logo{
        height: 40px;
        width: 40px;
    }
}